apscheduler
beautifulsoup4
chromadb
fastapi
httpx
ibm-cloud-sdk-core
ibm-watsonx-ai
ibmcloudant
pydantic
pydantic-settings
pytest
python-dotenv
requests
selectolax
tenacity
uvicorn
google-generativeai
